@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* npx tailwindcss -i ./src/style.css -o ./build/style.css --watch */

@media(max-width:1023px) {
    .mySidenavs {
        background: #4c4c4c;
        width: 320px;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.3s;
        transform: translateX(-100%);
        height: 100vh;
        padding: 15px;
        z-index: 999;
    }
}

.menu-space {
    letter-spacing: 0.32px;
}

.right-side a:hover {
    transform: translateY(-6px);
}

.right-side a {
    display: inline-block;
    transition: all 0.3s;
}

.page-header {
    position: fixed;
    top: 48px;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
}

.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
    background-color: #fff !important;
    top: 0 !important;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.box-op {
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@media (max-width:1023px) {
    .page-header {
        position: fixed;
        top: 0px;

    }
}

.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.form {
    border-width: 15px;
    border-color: #e3e3e3;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
}

.form_div {
    margin-bottom: 30px;
}

.form_div input,
.form_div textarea#w3review {
    color: #000000;
    border: 1px solid #d6d6d6;
    width: 100%;
    padding: 16px;
}

.form_div textarea#w3review .form h2 {
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 50px;
}

input#submit {
    color: #fff;
    display: inline-block;
    width: auto;
    padding: 16px 44px;
}